.App {
  text-align: center;
}

body {
  font-family: 'impact';
}

h1 {
  font-size: 48px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.5px;
}

img {
  object-fit: cover;
  margin: 10px;
}

hr {
  margin: 25px 25%;
}

.gallery {
  margin: 0 5%;
}

button {
  margin: 20px;
  border: 1px solid black;
  color: black;
  padding: 20px;
  background: none;
}

button:hover {
  background: black;
  color: white;
  cursor: pointer;
}